<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="../static/img/favicon.ico">

    <link href="../static/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}
    <title>Bookish - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% include "header.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container mt-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<!-- Your page content -->
<div class="container my-4 p-3">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}
{% include "footer.html" %}
</body>
</html>