<h1 class="m-4 text-center">Welcome back, {{ current_user.name or 'Reader' }}!</h1>

<div class="container-fluid py-5 ">
    {% if results.not_read|length > 2 %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Last added:</h5>
            <ul class="col-md-8 fs-4 ">
                <li>{{results.not_read[0].book.title}} -- {{results.not_read[0].book.author}}</li>
                <li>{{results.not_read[1].book.title}} -- {{results.not_read[1].book.author}}</li>
                <li>{{results.not_read[2].book.title}} -- {{results.not_read[2].book.author}}</li>
            </ul>
            <h3>{{results.not_read | length}} books in <a
                    href="{{url_for('views.books',state='watchlist')}}">Watchlist</a></h3>

        </div>
    </div>

    {%else%}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Watchlist is empty!</h5>
            <div class="row">

                <div class="col">
                    <a href="{{url_for('views.get_recs')}}">
                        <button class="btn btn-primary " type="button">
                            Get recommendations
                        </button>
                    </a>
                </div>
                <div class="col">

                    <a href="{{url_for('views.search')}}">
                        <button class="btn btn-primary " type="button">
                            Search Books
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </div>
    {%endif%}
</div>
{% if results.read|length >2%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">You've read {{results.read|length}} books</h5>
        <h5 class="card-title">Last Added:</h5>

        <ul class="col-md-8 fs-4 ">
            <li>{{results.read[0].book.title}} -- {{results.read[0].book.author}}</li>
            <li>{{results.read[1].book.title}} -- {{results.read[1].book.author}}</li>
            <li>{{results.read[2].book.title}} -- {{results.read[2].book.author}}</li>
        </ul>
        <a href="{{url_for('views.books',state='read')}}" class="btn btn-primary">Manage Your Books</a>
    </div>
</div>
{%else%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">No books marked read...</h5>
        <p class="card-text">Add books to help recommendations</p>

        <div class="row">
            <div class="col">
                <a href="{{url_for('views.search')}}">
                    <button class="btn btn-primary " type="button">
                        Search Books
                    </button>
                </a>
            </div>
            <div class="col">

                <a href="{{url_for('views.account')}}">
                    <button class="btn btn-primary " type="button">
                        Import data
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{%endif%}