<ul class="nav nav-tabs">
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('views.home')}}">Home</a>
    </li>
    <li class="nav-item">
    </li>

    {% if not current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('views.login')}}">Login</a>
    </li>
    {% endif %}
    {% if current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('views.recommendations')}}">Recommendations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('views.account')}}">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('views.logout')}}">Logout</a>
    </li>
    {% endif %}
</ul>