{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">link</th>
      <th scope="col">Delete</th>
      <th scope="col">I've read this book</th>
      <th scope="col">Not interested</th>
    </tr>
  </thead>
  <tbody>
  {% if result %}
  {% for item in result %}
    <tr>
      <td>{{item.book.title}}</td>
      <td>{{item.book.author}}</td>
      <td><a class="btn btn-sm" href={{item.book.link}}> 🔗 </a> </td>
      <td><a class="btn btn-sm" href="{{url_for('views.book_actions',book_id=item.book.id,action='delete')}}"> ✘ </a> </td>
      <td><a class="btn btn-sm" href="{{url_for('views.book_actions', book_id=item.book.id,action='is_read')}}"> ✔ </a> </td>
      <td><a class="btn btn-sm" href="{{url_for('views.book_actions', book_id=item.book.id,action='not_recommended')}}"> 💔 </a> </td>

    </tr>

  {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock %}