{% extends "base.html" %}
{%block title%}
Search
{%endblock%}
{% block content %}
<form method="GET" action="{{ url_for('views.search') }}" class="mb-4" id="searchForm">
    <div class="input-group input-group-lg">
        <input type="text" name="q" class="form-control"
               placeholder="Search {{ filter if filter else 'OpenLibrary' }}..."
               value="{{ query }}">

        <select name="filter" class="form-select" aria-label="Default select example" style="max-width: 150px;">
           <option value="all" {% if not filter %}selected{% endif %}>All</option>
            <option value="title" {% if filter==
            'title' %}selected{% endif %}>Title</option>
            <option value="author" {% if filter==
            'author' %}selected{% endif %}>Author</option>
            <option value="subject" {% if filter==
            'subject' %}selected{% endif %}>Subject</option>
        </select>

        <button type="submit" class="btn btn-primary">🔍</button>
    </div>
</form>
<div id="loadingSpinner" class="text-center mt-4" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Searching books...</p>
</div>
{%if search_results %}
{% with search_results=search_results%}
{% include "search_results.html"  %}
{%endwith%}
{%endif%}
<script>
    const form = document.getElementById("searchForm");
    const spinner = document.getElementById("loadingSpinner");

    form.addEventListener("submit", function () {
      form.style.display = "none";
      spinner.style.display = "block";
    });
</script>

{% endblock %}